.container {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: aliceblue;
  position: absolute;
  margin: 10%;
  margin-bottom: 50%;
  margin-right: 0;
  padding: 5%;
  right: 0;
}

.container > p {
  font-size: 1rem;
  font-weight: 900;
}